@font-face {
font-family: "Bebas";
src: url("BebasNeue.otf");
}

body {
  margin: 0;
  background-color: #fff9e3;
  font-family: "Bebas"
}

main {
  text-align: center;
  padding: 50px;
}

header {
  margin: 0;
  text-align: center;
  background-color:  0f0806;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  margin: auto;
  display: block;
  font-size: 22px;
  margin-bottom: 24px;
}

button {
  margin: auto;
  display: block;
  color: white;
  border: 2px #e74644 solid;
  height: 50px;
  width: 150px;
  font-size: 22px;
  background-color: #e74644;
  outline: none;
}

button:disabled {
  border: none;
  background-color: #fde7d3;
  height: 
}

img {
  padding: 25px;
  width: 223px;
  height: 62px;
}
